*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.navber div{
    width: 50%;
    
}

nav{
    background-color: rgb(27, 30, 34);
    height: 74px;
    display: flex;
    list-style: none;
}

#list li{
   float: left;
    list-style: none;
    margin: 30px 25px;

    
    
}
#list li a {
    color: cornsilk;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}



.navber img{
   margin-top: -10%;
   width: 40%;
}

/* navber ends */


.home div{
    width: 50%;
    
    
}

#text1{
    margin: 140px 94px;
    font-family: 'Poppins', sans-serif;
    color: cornsilk;
    font-size: 25px;
}

.home{
    display: flex;
    background-image: linear-gradient(black,rgb(173, 170, 170));
    height: 76vh;
    
}

.home span{
   color: #40d9d9;
}
 .home a{
     background-image: linear-gradient(rgb(184, 114, 35),#e7dc49);
     color: rgb(7, 7, 7);
     padding: 3px 20px;
     border-radius: 5px;
     font-size: 25px;
     font-family: 'Ubuntu', sans-serif;
     font-weight: 400;
 }

.home img{
    margin-top: 60px;
    width: 60%;
}