body{
    background-color: rgb(4 4 34);
}



*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.navber div{
    width: 50%;
    
}

.navber{
    
   position: fixed;
   width: 100%;
    
   
}

nav{
    background-color: rgb(27, 30, 34);
    height: 74px;
    display: flex;
    list-style: none;
    opacity: 0.9;
    
}

#list li{
   float: left;
    list-style: none;
    margin: 30px 22px;
    

    
    
}
#list li a {
    color: cornsilk;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}

#list li a:hover{
    color: rgb(16, 24, 24);
}





.navber img{
   margin-top: -10%;
   width: 26%;
   margin-left: 52px;
   position: relative;
   top: 0;
  
  
}

#logo :hover{
    transform: scale(0.9);
    transition: transform 0.5s linear 0.1s ;
   
}

/* navber ends */


.home div{
    width: 50%;
    
    
}


#sadik{
    margin-right: 160px;
}

#text1{
    margin: 218px 25px;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 25px;
    padding-left: 100px;
}

.home{
    display: flex;
   
    height: 76vh;

   position: static;

   margin-bottom: 200px;

   

    
    
    
}
@keyframes name {
    0%{
        color: rgb(0, 255, 76);
    }

    15%{
        color: rgb(36, 36, 240);
    }
    30%{
        color: yellow;
    }

    45%{
        color: rgb(250, 8, 56);
    }

    60%{
        color: rgb(214, 10, 207);
    }

    75%{
        color: chocolate;
    }
    90%{
        color: cyan;
    }
    100%{
        color: tomato;
    }


}

#sadik{
   animation: name 2s ease-in 0.5s infinite alternate ;
   animation-play-state: running;
}


 .home a{
     background-image: linear-gradient(rgb(184, 114, 35),#e7dc49);
     color: rgb(7, 7, 7);
     padding: 3px 20px;
     border-radius: 5px;
     font-size: 25px;
     font-family: 'Ubuntu', sans-serif;
     font-weight: 500;
 }

.home img{
    margin-top: 85px;
    width: 100%;
    padding-right: 30px;
}

nav {
	background: linear-gradient(-45deg,rgb(214, 10, 207), rgb(36, 36, 240),rgb(208, 255, 0),rgb(11, 180, 11), #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	/* height: 100vh; */
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}

   
}

#text1 h3{
    display: inline-block;
    /* margin: 0 0.5rem; */
  
    animation: hinge; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
}


.home button{
    height: 50px;
    width: 140px;
    border-radius: 10px;
    animation: button 2s ease-in 0.5s infinite alternate ;
    animation-play-state: running;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 700;
    background-image:linear-gradient(#FF4331,#4C3AE3);
    color: cornsilk;
    
}

/* @keyframes button {
    0%{
        background-color: rgb(76, 158, 101);
    }
    25%{
        background-color: rgb(124, 24, 218);
    }

    50%{
        background-color: rgb(165, 74, 92);
    }

    75%{
        background-color: chocolate;
    }
    100%{
        background-color: cyan;
    }


} */
  #text1 p{
     font-size: 16px;
     font-weight: 300;
  }

  #text1 h1,h3,h5{
      font-weight: 700;
  }


  @media only screen and (max-width : 688px){

    .navber{
        flex-direction: column;
        align-items: center;
        position: static;
        width: 105%;

    }

    

 .navber img {
   width: 100%;
   margin-left: 9px;
}


    #list{
        padding-left: 40px;
    }
       

   

    #list li{
        float: none;
        height: 50px;
    }

    .navber{
        
        height: 80%;
    }

    /* navber ends */


    .home{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        /* overflow-x: hidden; */
        position: relative;

        
    }

   

    .home div{
        width: 100%;
        

    }
    #text1{
        width: 100%;
        margin-left: -33px;
        margin-top: 60px;
        position: absolute;
        top: 360px;
        flex: 100%;
    }

    #sadik img{
        width: 100%;
        margin-top:  5px;
        margin-left: 25px;
        
        
    }
  }


  #about{
     
      background-color: #343232;
      color: blanchedalmond;
      width: 100%;
  }

  #about h1{
      font-size: 35px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      
      align-items: center;
      padding: 100px 0;
      
      
  }


  #about #title{
      position: relative;
      margin-bottom: 60px;
      padding-bottom: 40px;
      text-align: center;
      font-size: 45px;
      font-weight: 500;
      font-family: poppins,sans-serif;
  }

#about #title::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 180px;
    height: 3px;
    background: rgb(236, 233, 233);
    transform: translateX(-50%);
}

#about #title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 0 5px;
    background: #343232;
    transform: translateX(-50%);
    content: "who am i";
}

#title{
    margin-top: -50px;
}

.img2{
    display: flex;
    width: 100%;
    justify-content: center;

}

.text2{
    display: flex;
    width: 50%;
    justify-content: center;
    flex-direction: row;
}

.img2 img{
    height: 300px;
    width: 300px;
   
}

.aboutimage{
    border-radius: 20px;
}